@CHARSET "UTF-8";
html {
	background-color:black;
}

p {
	color:white;
}

.navlist li {
	display:inline-block;
	color: white;
}

.header div {
	display:inline-block;
}

.logo { 
	width:200px;
	height:200px;

}